--- 
import { Button } from "@/components/ui/button"
import BaseLayout from '@/layouts/BaseLayout.astro'
const pageTitle = '404 not found'
const heroTitle = 'Oops an error ocurred'
const heroDescription = "The page you're looking for was not found."
--- 
<BaseLayout pageTitle={pageTitle} title={heroTitle} description={heroDescription}>
  <div class="container text-center">
    <a href="/"> 
      <Button variant="link">
        Go back home 
      </Button>
    </a>
    Hola mi amor te amo
  </div>
</BaseLayout>
