<footer class="text-foreground/70 dark:text-foreground/60">
  <div class="container mx-auto max-w-3xl p-4">
    <p class="text-center text-sm">
      &copy; {new Date().getFullYear()}. Daniel Santiago Munoz. All rights reserved.
    </p>
  </div>
</footer>
