---
const { title, description } = Astro.props
---
<div class="group relative w-64 h-72 overflow-hidden mx-auto mb-4">
  <img class="absolute inset-0 w-full h-full object-cover transition-shadow duration-500 group-hover:opacity-0" src="/avatar.svg" alt="avatar" />
  <img class="absolute inset-0 w-full h-full object-cover opacity-0 transition-shadow duration-500 group-hover:opacity-100" src="/hover_avatar.svg" alt="avatar hover"/>
</div>
<div class="container mx-auto max-w-xl px-4 py-2 mb-4 bg-muted rounded-md">
  <h1 class="text-lg font-bold text-center">{title}</h1>
  <p class="text-center">{description}</p>
</div>
